<div class="container-fluid bg-light">
  <nav class="navbar navbar-expand-lg bg-success-subtle">
    <div class="container-fluid">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary text-success w-50 p-3 fs-4">FarmProductReview</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="text-end">
          <button class="btn btn-outline-success" type="submit">Login</button>
          <button type="button" class="btn btn-success">Sign-Up</button>
        </div>
      </div>
  </nav>  
</div>

